<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Boxicons -->
	<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
	<!-- My CSS -->
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/Form.css">

	<title>Docteur</title>
</head>
<body>


	<!-- SIDEBAR -->
	<section id="sidebar">
		<a href="#" class="brand">
			<i class='bx bx-plus-medical'></i>
			<span class="text">DOCTEUR</span>
		</a>
		<ul class="side-menu top">
			<li class="active">
				<a href="/">
					<i class='bx bxs-dashboard' ></i>
					<span class="text">Dashboard</span>
				</a>
			</li>
			<li>
				<a href="/Patients">
					<i class='bx bxs-group' ></i>
					<span class="text">Mes Patients</span>
				</a>
			</li>
			<li>
				<a href="#">
					<i class='bx bxs-doughnut-chart' ></i>
					<span class="text">Analytics</span>
				</a>
			</li>
			<li>
				<a href="/RDV">
					<i class='bx bxs-message-dots' ></i>
					<span class="text">Prise De RDV</span>
				</a>
			</li>
			
		</ul>
		<ul class="side-menu">
			<li>
				<a href="#">
					<i class='bx bxs-cog' ></i>
					<span class="text">Parametres</span>
				</a>
			</li>
			<li>
				<a href="#" class="logout">
					<i class='bx bxs-log-out-circle' ></i>
					<span class="text">Déconnexion</span>
				</a>
			</li>
		</ul>
	</section>
	<!-- SIDEBAR -->



	<!-- CONTENT -->
	<section id="content">
		<!-- NAVBAR -->
		<nav>
			<i class='bx bx-menu' ></i>
			<a href="#" class="nav-link">Categories</a>
			<form action="#">
				<div class="form-input">
					<input type="search" placeholder="Search...">
					<button type="submit" class="search-btn"><i class='bx bx-search' ></i></button>
				</div>
			</form>
			<input type="checkbox" id="switch-mode" hidden>
			<label for="switch-mode" class="switch-mode"></label>
			<a href="#" class="notification">
				<p>Docteur Salhi</p>
				<p>Généraliste</p>
			</a>
			<a href="#" class="profile">
				<img src="img/docteur.jpg">
			</a>
		</nav>
		<!-- NAVBAR -->

		<!-- MAIN -->
		<main>
			<div class="head-title">
				<div class="left">
					<h1>Mes Patients</h1>
					<ul class="breadcrumb">
						<li>
							<a href="#">Mes Patients</a>
						</li>
						<li><i class='bx bx-chevron-right' ></i></li>
						<li>
							<a class="active" href="#">Ajouter Nouveau Patient</a>
						</li>
					</ul>
				</div>
				
			</div>

	


			<div class="table-data">
				<div class="order">
					<div class="head">
						
                        <form action="/FormPatient" method="post">
							<h3 style="text-align: center;">Formulaire</h3>

							<label for="code">Code Client</label>
                            <input type="text" id="code" name="code" placeholder="Code Client..">

                            <label for="name">Nom</label>
                            <input type="text" id="Nom" name="Nom" placeholder="Nom Du Patient..">
                        
                            <label for="lname">Prénom</label>
                            <input type="text" id="Prenom" name="Prenom" placeholder="Prénom Du Patient..">
                            <label for="date">Date De Naissance</label>
                            <input type="date" name="dateDeNaissance"> <br><br>
                            <label for="genre">Genre</label>
                            <select  id="genre" name="genre" >
                              <option value="femme">Femme</option>
                              <option value="homme">Homme</option>
                              
                            </select>
                          
                            <input type="submit" value="Submit">
                          </form>
						
					</div>
					
				</div>
				
			</div>
		</main>
		<!-- MAIN -->
	</section>
	<!-- CONTENT -->
	

	<script src="js/script.js"></script>
</body>
</html>